ul,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
    display: block;
}
html,body{
    height: 100%;
    width: 100%;
}
.lt-container{
    height: 100%;
    width: 100%;
    /* background-color: pink; */
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 55px;
    position: relative;
    overflow: hidden;
}
/* 头部 */
.lt-container .lt-header{
    height: 45px;
    width: 100%;
    background-color: #006699;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 45px;
    text-align: center;
}
.lt-header .icon-left,
.lt-header .icon-right{
    height: 45px;
    width: 45px;
    position: absolute;
    top: 0;
    line-height: 45px;
    color: #fff;
}
.lt-header .icon-left{
    left: 0;
}
.lt-header .icon-right{
    right: 0;
}
.lt-header h3{
    height: 45px;
    line-height: 45px;
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    color: #fff;
}

/* 中间区域 */
.lt-container .lt-main{
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: relative;
}

/* 底部 */
.lt-container .lt-footer{
    height: 55px;
    width: 100%;
    background-color: #006699;
    position: absolute;
    bottom: 0;
    left: 0;
}

.lt-footer li{
    float: left;
    width: 25%;
    text-align: center;
}
.lt-footer li a{
    display: block;
    padding-top: 8px;
    color: #fff;
}
.lt-footer li a.current{
    color: orange;
}
.lt-footer li a.current p{
    color: orange;
}
.lt-footer li a p{
    color: #fff;
    margin: 0;
}

