/* 登录页样式 */
.body_bg{
    background: #222D32;
}

.panel-title{
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-align: center;
}
.mt_150{
    margin-top: 150px;
}

/* 主页样式 */
.lt_aside{
    height: 100%;
    width: 180px;
    background-color: #222D32;
    position: fixed;
    top: 0;
    left: 0;
}
.lt_aside