/* 导航 */
.lt_nav {
  padding: 10px;
}
.lt_nav li {
  float: left;
  width: 33.3%;
}


.lt_product {
  padding: 10px;
}
.lt_product li {
  float: left;
  width: 48%;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}
.lt_product li:nth-child(odd) {
  margin-right: 4%;
}
.lt_product li .price {
  color: red;
}
.lt_product li .oldPrice {
  text-decoration: line-through;
}